In [1]:
!pip install spacy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: spacy in /usr/local/lib/python3.8/dist-packages (3.4.3)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.8/dist-packages (from spacy) (2.23.0)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.10 in /usr/local/lib/python3.8/dist-packages (from spacy) (3.0.10)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.8/dist-packages (from spacy) (21.3)
Requirement already satisfied: srsly<3.0.0,>=2.4.3 in /usr/local/lib/python3.8/dist-packages (from spacy) (2.4.5)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from spacy) (57.4.0)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.11.0,>=1.7.4 in /usr/local/lib/python3.8/dist-packages (from spacy) (1.10.2)
Requirement already satisfied: wasabi<1.1.0,>=0.9.1 in /usr/local/lib/python3.8/dist-packages (from spacy) (0.10.1)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /usr/local/lib/python3.8/dist-packages (from spacy) (4.64.1)
Requirement already satisfied: numpy>=1.15.0 in /usr/local/lib/python3.8/dist-packages (from spacy) (1.21.6)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in /usr/local/lib/python3.8/dist-packages (from spacy) (3.3.0)
Requirement already satisfied: typer<0.8.0,>=0.3.0 in /usr/local/lib/python3.8/dist-packages (from spacy) (0.7.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.8/dist-packages (from spacy) (2.11.3)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.8/dist-packages (from spacy) (2.0.7)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from spacy) (3.0.8)
Requirement already satisfied: pathy>=0.3.5 in /usr/local/lib/python3.8/dist-packages (from spacy) (0.10.0)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in /usr/local/lib/python3.8/dist-packages (from spacy) (2.0.8)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from spacy) (1.0.3)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.8/dist-packages (from spacy) (1.0.9)
Requirement already satisfied: thinc<8.2.0,>=8.1.0 in /usr/local/lib/python3.8/dist-packages (from spacy) (8.1.5)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.8/dist-packages (from packaging>=20.0->spacy) (3.0.9)
Requirement already satisfied: smart-open<6.0.0,>=5.2.1 in /usr/local/lib/python3.8/dist-packages (from pathy>=0.3.5->spacy) (5.2.1)
Requirement already satisfied: typing-extensions>=4.1.0 in /usr/local/lib/python3.8/dist-packages (from pydantic!=1.8,!=1.8.1,<1.11.0,>=1.7.4->spacy) (4.4.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (2022.9.24)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (2.10)
Requirement already satisfied: confection<1.0.0,>=0.0.1 in /usr/local/lib/python3.8/dist-packages (from thinc<8.2.0,>=8.1.0->spacy) (0.0.3)
Requirement already satisfied: blis<0.8.0,>=0.7.8 in /usr/local/lib/python3.8/dist-packages (from thinc<8.2.0,>=8.1.0->spacy) (0.7.9)
Requirement already satisfied: click<9.0.0,>=7.1.1 in /usr/local/lib/python3.8/dist-packages (from typer<0.8.0,>=0.3.0->spacy) (7.1.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.8/dist-packages (from jinja2->spacy) (2.0.1)

In [2]:
!python -m spacy download en_core_web_lg

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting en-core-web-lg==3.4.1
  Downloading https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.4.1/en_core_web_lg-3.4.1-py3-none-any.whl (587.7 MB)
     |████████████████████████████████| 587.7 MB 16 kB/s
Requirement already satisfied: spacy<3.5.0,>=3.4.0 in /usr/local/lib/python3.8/dist-packages (from en-core-web-lg==3.4.1) (3.4.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (57.4.0)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /usr/local/lib/python3.8/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (4.64.1)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.8/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (1.0.9)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.11.0,>=1.7.4 in /usr/local/lib/python3.8/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (1.10.2)
Requirement already satisfied: typer<0.8.0,>=0.3.0 in /usr/local/lib/python3.8/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (0.7.0)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.8/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (2.0.7)
Requirement already satisfied: srsly<3.0.0,>=2.4.3 in /usr/local/lib/python3.8/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (2.4.5)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.8/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (2.11.3)
Requirement already satisfied: pathy>=0.3.5 in /usr/local/lib/python3.8/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (0.10.0)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (1.0.3)
Requirement already satisfied: thinc<8.2.0,>=8.1.0 in /usr/local/lib/python3.8/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (8.1.5)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in /usr/local/lib/python3.8/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (3.3.0)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in /usr/local/lib/python3.8/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (2.0.8)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.8/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (2.23.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.8/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (21.3)
Requirement already satisfied: wasabi<1.1.0,>=0.9.1 in /usr/local/lib/python3.8/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (0.10.1)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (3.0.8)
Requirement already satisfied: numpy>=1.15.0 in /usr/local/lib/python3.8/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (1.21.6)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.10 in /usr/local/lib/python3.8/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (3.0.10)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.8/dist-packages (from packaging>=20.0->spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (3.0.9)
Requirement already satisfied: smart-open<6.0.0,>=5.2.1 in /usr/local/lib/python3.8/dist-packages (from pathy>=0.3.5->spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (5.2.1)
Requirement already satisfied: typing-extensions>=4.1.0 in /usr/local/lib/python3.8/dist-packages (from pydantic!=1.8,!=1.8.1,<1.11.0,>=1.7.4->spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (4.4.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (2022.9.24)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (2.10)
Requirement already satisfied: confection<1.0.0,>=0.0.1 in /usr/local/lib/python3.8/dist-packages (from thinc<8.2.0,>=8.1.0->spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (0.0.3)
Requirement already satisfied: blis<0.8.0,>=0.7.8 in /usr/local/lib/python3.8/dist-packages (from thinc<8.2.0,>=8.1.0->spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (0.7.9)
Requirement already satisfied: click<9.0.0,>=7.1.1 in /usr/local/lib/python3.8/dist-packages (from typer<0.8.0,>=0.3.0->spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (7.1.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.8/dist-packages (from jinja2->spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (2.0.1)
Installing collected packages: en-core-web-lg
Successfully installed en-core-web-lg-3.4.1
✔ Download and installation successful
You can now load the package via spacy.load('en_core_web_lg')

In [3]:
import csv
from google.colab import drive
import pandas as pd
import re
import spacy
from nltk.stem import WordNetLemmatizer
import nltk
import numpy as np

In [4]:
nlp = spacy.load("en_core_web_lg", exclude=["tagger", "parser", "senter", "attribute_ruler", "lemmatizer", "ner"])
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
datapath = '/content/drive/MyDrive/NLP_Workspace/Data/'

with open(datapath + 'emoji_sentiment.csv','r') as file:     ### file path to be changed
  csvreader = csv.reader(file)
  emoji = np.array(list(csvreader))

with open(datapath + 'emoticons.csv','r') as file:
  csvreader = csv.reader(file)
  emoticon = np.array(list(csvreader))

In [6]:
print(emoji[0])
print(emoticon[0])

['Emoji' 'Unicode codepoint' 'Occurrences' 'Position' 'Negative' 'Neutral'
 'Positive' 'Unicode name' 'Unicode block']
['Emoticon' 'Similar_Emoji' 'Description']

In [7]:
with open(datapath + 'balanced_data.csv','r') as file:
  csvreader = csv.reader(file)
  data = list(csvreader)

In [8]:
emoji = emoji[1:]
emoticon = emoticon[1:]

In [9]:
data[:10]

[['type', 'text', 'word_num', 'label'],
 ['ENFJ',
  "I went through a break up some months ago. We were together for 4 years and I had planned my life around that relationship. I wasn't the one breaking the relationship as you might imagine and all our...",
  '38',
  '0'],
 ['ENFJ', 'ENFJ Puns so many puns.', '5', '0'],
 ['ENFJ',
  "Well I personally don't go that much for attractiveness in general but I can see you have the will to change that and that's good already. May I ask if you want to be with them in a merely sexual...",
  '40',
  '0'],
 ['ENFJ',
  "Sorry, not an INFP but I'm really into post-rock so I had to post :<  Going to leave this here and sneak out D:",
  '24',
  '0'],
 ['ENFJ', 'Welcome!!!', '1', '0'],
 ['ENFJ', 'wrong thread D:', '3', '0'],
 ['ENFJ',
  "That doesn't sound very ENFJ I think x3 I'd never act cold towards a romantic interest. Those just get my warm side I think. When I like someone that way all I want to do is to just straight to them...",
  '41',
  '0'],
 ['ENFJ',
  "Not really, I'm mostly a guitar player with a bass obsession, I'm the person who ask for the bass to be louder or at least more relevant. I like trying new instruments and sometimes add them to a...",
  '38',
  '0'],
 ['ENFJ',
  'Guitar mostly :O But I can add bass, glockenspiel, harmonica, drums and ocarina.',
  '13',
  '0']]

In [10]:
text = np.array(data)[1:, 1]

In [11]:
nltk.download('wordnet')
nltk.download('omw-1.4')
lemmatizer = WordNetLemmatizer()

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...

In [12]:
def lemmatized(str):
    return [lemmatizer.lemmatize(token) for token in str.split()]


results = {}


# from name of found emoji, query emoji database to find its underlying positivity
def get_pos(name):
    mx = 0
    mx_pos = 0
    cur = 0
    mem = ''
    override = [0,0,0]
    if name in results:
      print("%s found in memory" % (name))
      return results.get(name)
    
    cos_name = nlp(" ".join(lemmatized(name.lower())))
    for i in emoji:
        query = lemmatized(i[7].lower())
        querystr = " ".join(query)
        cur = nlp(querystr).similarity(cos_name)
        if name in query and cur > override[1]:
            override = [querystr, cur, int(i[6]) / (int(i[4]) + int(i[5]) + int(i[6]))]
            continue
        if mx < cur:
            mem = querystr
            mx = cur
            mx_pos = int(i[6]) / (int(i[4]) + int(i[5]) + int(i[6]))
    
    if override[1] > 0:
        print("most similar word to %s is %s with sim of %f, pos of %f." % (name, mem, mx, mx_pos))
        print("overriden to literal match at %s is %s with sim of %f, pos of %f." % (name, override[0], override[1], override[2]))
        results[name] = override[2]
        return mx_pos
    else:
        print("most similar word to %s is %s with sim of %f, pos of %f." % (name, mem, mx, mx_pos))
        results[name] = mx_pos
        return mx_pos


def emoji_featurize(data):
    count = 0
    start = 0
    pos = 0
    for m in re.finditer(':[a-zA-z\d_]+:', data):
        count += 1
        start += m.start()
        pos += get_pos(data[m.start()+1:m.end()-1])
    
    datalist = data.split()
    for i in emoticon:
        e = i[0]
        if len(e) < 1:
            continue
        for j in range(len(datalist)):
            if e == data[j]:
                count += 1
                start += data.index(data[j])
                pos += get_pos(i[2])


    if count == 0:
      return [0,0,0]

    return [count, start/count/len(data), pos/count]


def emoji_replace(data):
    data = re.sub(':[a-zA-z\d_]+:', '<emoji>', data)
    return data

In [13]:
emoji_feature = pd.DataFrame([], columns=['300', '301', '302'])
emoji_feature.head(0)

Empty DataFrame
Columns: [300, 301, 302]
Index: []

In [14]:
for i in range(len(text)):
  emoji_feature.loc[i] = emoji_featurize(text[i])
  print(emoji_feature.loc[i])

300    0
301    0
302    0
Name: 0, dtype: object
300    0
301    0
302    0
Name: 1, dtype: object
300    0
301    0
302    0
Name: 2, dtype: object
300    0
301    0
302    0
Name: 3, dtype: object
300    0
301    0
302    0
Name: 4, dtype: object
300    0
301    0
302    0
Name: 5, dtype: object
300    0
301    0
302    0
Name: 6, dtype: object
300    0
301    0
302    0
Name: 7, dtype: object
300    0
301    0
302    0
Name: 8, dtype: object
300    0
301    0
302    0
Name: 9, dtype: object
300    0
301    0
302    0
Name: 10, dtype: object
300    0
301    0
302    0
Name: 11, dtype: object
300    0
301    0
302    0
Name: 12, dtype: object
300    0
301    0
302    0
Name: 13, dtype: object
300    0
301    0
302    0
Name: 14, dtype: object
300    0
301    0
302    0
Name: 15, dtype: object
300    0
301    0
302    0
Name: 16, dtype: object
300    0
301    0
302    0
Name: 17, dtype: object
300    0
301    0
302    0
Name: 18, dtype: object
300    0
301    0
302    0
Name: 19, dtype: object
300    0
301    0
302    0
Name: 20, dtype: object
300    0
301    0
302    0
Name: 21, dtype: object
300    0
301    0
302    0
Name: 22, dtype: object
300    0
301    0
302    0
Name: 23, dtype: object
300    0
301    0
302    0
Name: 24, dtype: object
300    0
301    0
302    0
Name: 25, dtype: object
300    0
301    0
302    0
Name: 26, dtype: object
300    0
301    0
302    0
Name: 27, dtype: object
300    0
301    0
302    0
Name: 28, dtype: object
300    0
301    0
302    0
Name: 29, dtype: object
300    0
301    0
302    0
Name: 30, dtype: object
300    0
301    0
302    0
Name: 31, dtype: object
300    0
301    0
302    0
Name: 32, dtype: object
300    0
301    0
302    0
Name: 33, dtype: object
300    0
301    0
302    0
Name: 34, dtype: object
300    0
301    0
302    0
Name: 35, dtype: object
300    0
301    0
302    0
Name: 36, dtype: object
300    0
301    0
302    0
Name: 37, dtype: object
300    0
301    0
302    0
Name: 38, dtype: object
300    0
301    0
302    0
Name: 39, dtype: object
300    0
301    0
302    0
Name: 40, dtype: object
300    0
301    0
302    0
Name: 41, dtype: object
300    0
301    0
302    0
Name: 42, dtype: object
300    0
301    0
302    0
Name: 43, dtype: object
300    0
301    0
302    0
Name: 44, dtype: object
300    0
301    0
302    0
Name: 45, dtype: object
300    0
301    0
302    0
Name: 46, dtype: object
300    0
301    0
302    0
Name: 47, dtype: object
300    0
301    0
302    0
Name: 48, dtype: object
300    0
301    0
302    0
Name: 49, dtype: object
300    0
301    0
302    0
Name: 50, dtype: object
300    0
301    0
302    0
Name: 51, dtype: object
300    0
301    0
302    0
Name: 52, dtype: object
300    0
301    0
302    0
Name: 53, dtype: object
300    0
301    0
302    0
Name: 54, dtype: object
300    0
301    0
302    0
Name: 55, dtype: object
300    0
301    0
302    0
Name: 56, dtype: object
300    0
301    0
302    0
Name: 57, dtype: object
300    0
301    0
302    0
Name: 58, dtype: object
300    0
301    0
302    0
Name: 59, dtype: object
300    0
301    0
302    0
Name: 60, dtype: object
300    0
301    0
302    0
Name: 61, dtype: object
300    0
301    0
302    0
Name: 62, dtype: object
300    0
301    0
302    0
Name: 63, dtype: object
300    0
301    0
302    0
Name: 64, dtype: object
300    0
301    0
302    0
Name: 65, dtype: object
300    0
301    0
302    0
Name: 66, dtype: object
300    0
301    0
302    0
Name: 67, dtype: object
300    0
301    0
302    0
Name: 68, dtype: object
300    0
301    0
302    0
Name: 69, dtype: object
300    0
301    0
302    0
Name: 70, dtype: object
300    0
301    0
302    0
Name: 71, dtype: object
300    0
301    0
302    0
Name: 72, dtype: object
300    0
301    0
302    0
Name: 73, dtype: object
300    0
301    0
302    0
Name: 74, dtype: object
300    0
301    0
302    0
Name: 75, dtype: object
300    0
301    0
302    0
Name: 76, dtype: object
300    0
301    0
302    0
Name: 77, dtype: object
300    0
301    0
302    0
Name: 78, dtype: object
300    0
301    0
302    0
Name: 79, dtype: object
300    0
301    0
302    0
Name: 80, dtype: object
300    0
301    0
302    0
Name: 81, dtype: object
300    0
301    0
302    0
Name: 82, dtype: object
300    0
301    0
302    0
Name: 83, dtype: object
300    0
301    0
302    0
Name: 84, dtype: object
300    0
301    0
302    0
Name: 85, dtype: object
300    0
301    0
302    0
Name: 86, dtype: object
300    0
301    0
302    0
Name: 87, dtype: object
300    0
301    0
302    0
Name: 88, dtype: object
300    0
301    0
302    0
Name: 89, dtype: object
300    0
301    0
302    0
Name: 90, dtype: object
300    0
301    0
302    0
Name: 91, dtype: object
300    0
301    0
302    0
Name: 92, dtype: object
300    0
301    0
302    0
Name: 93, dtype: object
300    0
301    0
302    0
Name: 94, dtype: object
300    0
301    0
302    0
Name: 95, dtype: object
300    0
301    0
302    0
Name: 96, dtype: object
300    0
301    0
302    0
Name: 97, dtype: object
300    0
301    0
302    0
Name: 98, dtype: object
300    0
301    0
302    0
Name: 99, dtype: object
300    0
301    0
302    0
Name: 100, dtype: object
300    0
301    0
302    0
Name: 101, dtype: object
300    0
301    0
302    0
Name: 102, dtype: object
300    0
301    0
302    0
Name: 103, dtype: object
300    0
301    0
302    0
Name: 104, dtype: object
300    0
301    0
302    0
Name: 105, dtype: object
300    0
301    0
302    0
Name: 106, dtype: object
300    0
301    0
302    0
Name: 107, dtype: object
300    0
301    0
302    0
Name: 108, dtype: object
300    0
301    0
302    0
Name: 109, dtype: object

<ipython-input-12-2ac7ee21a883>:23: UserWarning: [W008] Evaluating Doc.similarity based on empty vectors.
  cur = nlp(querystr).similarity(cos_name)

Streaming output truncated to the last 5000 lines.
300    0
301    0
302    0
Name: 199016, dtype: object
300    0
301    0
302    0
Name: 199017, dtype: object
300    0
301    0
302    0
Name: 199018, dtype: object
300    0
301    0
302    0
Name: 199019, dtype: object
300    0
301    0
302    0
Name: 199020, dtype: object
300    0
301    0
302    0
Name: 199021, dtype: object
300    0
301    0
302    0
Name: 199022, dtype: object
300    0
301    0
302    0
Name: 199023, dtype: object
300    0
301    0
302    0
Name: 199024, dtype: object
300    0
301    0
302    0
Name: 199025, dtype: object
300    0
301    0
302    0
Name: 199026, dtype: object
300    0
301    0
302    0
Name: 199027, dtype: object
300    0
301    0
302    0
Name: 199028, dtype: object
300    0
301    0
302    0
Name: 199029, dtype: object
300    0
301    0
302    0
Name: 199030, dtype: object
300    0
301    0
302    0
Name: 199031, dtype: object
300    0
301    0
302    0
Name: 199032, dtype: object
300    0
301    0
302    0
Name: 199033, dtype: object
300    0
301    0
302    0
Name: 199034, dtype: object
300    0
301    0
302    0
Name: 199035, dtype: object
300    0
301    0
302    0
Name: 199036, dtype: object
300    0
301    0
302    0
Name: 199037, dtype: object
300    0
301    0
302    0
Name: 199038, dtype: object
300    0
301    0
302    0
Name: 199039, dtype: object
300    0
301    0
302    0
Name: 199040, dtype: object
confused found in memory
300         1.0
301    0.787234
302    0.202941
Name: 199041, dtype: object
300    0
301    0
302    0
Name: 199042, dtype: object
300    0
301    0
302    0
Name: 199043, dtype: object
300    0
301    0
302    0
Name: 199044, dtype: object
300    0
301    0
302    0
Name: 199045, dtype: object
300    0
301    0
302    0
Name: 199046, dtype: object
300    0
301    0
302    0
Name: 199047, dtype: object
300    0
301    0
302    0
Name: 199048, dtype: object
300    0
301    0
302    0
Name: 199049, dtype: object
300    0
301    0
302    0
Name: 199050, dtype: object
300    0
301    0
302    0
Name: 199051, dtype: object
300    0
301    0
302    0
Name: 199052, dtype: object
300    0
301    0
302    0
Name: 199053, dtype: object
300    0
301    0
302    0
Name: 199054, dtype: object
300    0
301    0
302    0
Name: 199055, dtype: object
300    0
301    0
302    0
Name: 199056, dtype: object
300    0
301    0
302    0
Name: 199057, dtype: object
300    0
301    0
302    0
Name: 199058, dtype: object
300    0
301    0
302    0
Name: 199059, dtype: object
300    0
301    0
302    0
Name: 199060, dtype: object
300    0
301    0
302    0
Name: 199061, dtype: object
300    0
301    0
302    0
Name: 199062, dtype: object
300    0
301    0
302    0
Name: 199063, dtype: object
300    0
301    0
302    0
Name: 199064, dtype: object
300    0
301    0
302    0
Name: 199065, dtype: object
300    0
301    0
302    0
Name: 199066, dtype: object
300    0
301    0
302    0
Name: 199067, dtype: object
300    0
301    0
302    0
Name: 199068, dtype: object
300    0
301    0
302    0
Name: 199069, dtype: object
300    0
301    0
302    0
Name: 199070, dtype: object
300    0
301    0
302    0
Name: 199071, dtype: object
300    0
301    0
302    0
Name: 199072, dtype: object
300    0
301    0
302    0
Name: 199073, dtype: object
300    0
301    0
302    0
Name: 199074, dtype: object
300    0
301    0
302    0
Name: 199075, dtype: object
300    0
301    0
302    0
Name: 199076, dtype: object
300    0
301    0
302    0
Name: 199077, dtype: object
300    0
301    0
302    0
Name: 199078, dtype: object
300    0
301    0
302    0
Name: 199079, dtype: object
300    0
301    0
302    0
Name: 199080, dtype: object
300    0
301    0
302    0
Name: 199081, dtype: object
300    0
301    0
302    0
Name: 199082, dtype: object
300    0
301    0
302    0
Name: 199083, dtype: object
laughing found in memory
300         1.0
301    0.833333
302       0.625
Name: 199084, dtype: object
300    0
301    0
302    0
Name: 199085, dtype: object
300    0
301    0
302    0
Name: 199086, dtype: object
300    0
301    0
302    0
Name: 199087, dtype: object
300    0
301    0
302    0
Name: 199088, dtype: object
300    0
301    0
302    0
Name: 199089, dtype: object
300    0
301    0
302    0
Name: 199090, dtype: object
300    0
301    0
302    0
Name: 199091, dtype: object
300    0
301    0
302    0
Name: 199092, dtype: object
300    0
301    0
302    0
Name: 199093, dtype: object
300    0
301    0
302    0
Name: 199094, dtype: object
300    0
301    0
302    0
Name: 199095, dtype: object
300    0
301    0
302    0
Name: 199096, dtype: object
300    0
301    0
302    0
Name: 199097, dtype: object
300    0
301    0
302    0
Name: 199098, dtype: object
300    0
301    0
302    0
Name: 199099, dtype: object
300    0
301    0
302    0
Name: 199100, dtype: object
300    0
301    0
302    0
Name: 199101, dtype: object
300    0
301    0
302    0
Name: 199102, dtype: object
300    0
301    0
302    0
Name: 199103, dtype: object
300    0
301    0
302    0
Name: 199104, dtype: object
300    0
301    0
302    0
Name: 199105, dtype: object
300    0
301    0
302    0
Name: 199106, dtype: object
300    0
301    0
302    0
Name: 199107, dtype: object
300    0
301    0
302    0
Name: 199108, dtype: object
300    0
301    0
302    0
Name: 199109, dtype: object
300    0
301    0
302    0
Name: 199110, dtype: object
300    0
301    0
302    0
Name: 199111, dtype: object
300    0
301    0
302    0
Name: 199112, dtype: object
300    0
301    0
302    0
Name: 199113, dtype: object
300    0
301    0
302    0
Name: 199114, dtype: object
300    0
301    0
302    0
Name: 199115, dtype: object
300    0
301    0
302    0
Name: 199116, dtype: object
300    0
301    0
302    0
Name: 199117, dtype: object
300    0
301    0
302    0
Name: 199118, dtype: object
300    0
301    0
302    0
Name: 199119, dtype: object
300    0
301    0
302    0
Name: 199120, dtype: object
300    0
301    0
302    0
Name: 199121, dtype: object
300    0
301    0
302    0
Name: 199122, dtype: object
300    0
301    0
302    0
Name: 199123, dtype: object
300    0
301    0
302    0
Name: 199124, dtype: object
300    0
301    0
302    0
Name: 199125, dtype: object
300    0
301    0
302    0
Name: 199126, dtype: object
300    0
301    0
302    0
Name: 199127, dtype: object
300    0
301    0
302    0
Name: 199128, dtype: object
300    0
301    0
302    0
Name: 199129, dtype: object
300    0
301    0
302    0
Name: 199130, dtype: object
300    0
301    0
302    0
Name: 199131, dtype: object
300    0
301    0
302    0
Name: 199132, dtype: object
300    0
301    0
302    0
Name: 199133, dtype: object
300    0
301    0
302    0
Name: 199134, dtype: object
300    0
301    0
302    0
Name: 199135, dtype: object
300    0
301    0
302    0
Name: 199136, dtype: object
300    0
301    0
302    0
Name: 199137, dtype: object
300    0
301    0
302    0
Name: 199138, dtype: object
300    0
301    0
302    0
Name: 199139, dtype: object
300    0
301    0
302    0
Name: 199140, dtype: object
300    0
301    0
302    0
Name: 199141, dtype: object
300    0
301    0
302    0
Name: 199142, dtype: object
300    0
301    0
302    0
Name: 199143, dtype: object
300    0
301    0
302    0
Name: 199144, dtype: object
300    0
301    0
302    0
Name: 199145, dtype: object
300    0
301    0
302    0
Name: 199146, dtype: object
300    0
301    0
302    0
Name: 199147, dtype: object
wink found in memory
300         1.0
301    0.952756
302    0.572973
Name: 199148, dtype: object
300    0
301    0
302    0
Name: 199149, dtype: object
300    0
301    0
302    0
Name: 199150, dtype: object
300    0
301    0
302    0
Name: 199151, dtype: object
300    0
301    0
302    0
Name: 199152, dtype: object
rolleyes found in memory
300         1.0
301    0.787234
302    0.642857
Name: 199153, dtype: object
300    0
301    0
302    0
Name: 199154, dtype: object
300    0
301    0
302    0
Name: 199155, dtype: object
300    0
301    0
302    0
Name: 199156, dtype: object
300    0
301    0
302    0
Name: 199157, dtype: object
300    0
301    0
302    0
Name: 199158, dtype: object
300    0
301    0
302    0
Name: 199159, dtype: object
300    0
301    0
302    0
Name: 199160, dtype: object
300    0
301    0
302    0
Name: 199161, dtype: object
300    0
301    0
302    0
Name: 199162, dtype: object
300    0
301    0
302    0
Name: 199163, dtype: object
300    0
301    0
302    0
Name: 199164, dtype: object
300    0
301    0
302    0
Name: 199165, dtype: object
300    0
301    0
302    0
Name: 199166, dtype: object
300    0
301    0
302    0
Name: 199167, dtype: object
300    0
301    0
302    0
Name: 199168, dtype: object
300    0
301    0
302    0
Name: 199169, dtype: object
300    0
301    0
302    0
Name: 199170, dtype: object
300    0
301    0
302    0
Name: 199171, dtype: object
300    0
301    0
302    0
Name: 199172, dtype: object
300    0
301    0
302    0
Name: 199173, dtype: object
300    0
301    0
302    0
Name: 199174, dtype: object
300    0
301    0
302    0
Name: 199175, dtype: object
300    0
301    0
302    0
Name: 199176, dtype: object
300    0
301    0
302    0
Name: 199177, dtype: object
300    0
301    0
302    0
Name: 199178, dtype: object
300    0
301    0
302    0
Name: 199179, dtype: object
300    0
301    0
302    0
Name: 199180, dtype: object
300    0
301    0
302    0
Name: 199181, dtype: object
300    0
301    0
302    0
Name: 199182, dtype: object
300    0
301    0
302    0
Name: 199183, dtype: object
300    0
301    0
302    0
Name: 199184, dtype: object
cool found in memory
300         1.0
301        0.85
302    0.421053
Name: 199185, dtype: object
300    0
301    0
302    0
Name: 199186, dtype: object
300    0
301    0
302    0
Name: 199187, dtype: object
300    0
301    0
302    0
Name: 199188, dtype: object
300    0
301    0
302    0
Name: 199189, dtype: object
300    0
301    0
302    0
Name: 199190, dtype: object
300    0
301    0
302    0
Name: 199191, dtype: object
300    0
301    0
302    0
Name: 199192, dtype: object
300    0
301    0
302    0
Name: 199193, dtype: object
300    0
301    0
302    0
Name: 199194, dtype: object
300    0
301    0
302    0
Name: 199195, dtype: object
300    0
301    0
302    0
Name: 199196, dtype: object
300    0
301    0
302    0
Name: 199197, dtype: object
300    0
301    0
302    0
Name: 199198, dtype: object
300    0
301    0
302    0
Name: 199199, dtype: object
300    0
301    0
302    0
Name: 199200, dtype: object
300    0
301    0
302    0
Name: 199201, dtype: object
300    0
301    0
302    0
Name: 199202, dtype: object
300    0
301    0
302    0
Name: 199203, dtype: object
300    0
301    0
302    0
Name: 199204, dtype: object
300    0
301    0
302    0
Name: 199205, dtype: object
300    0
301    0
302    0
Name: 199206, dtype: object
300    0
301    0
302    0
Name: 199207, dtype: object
300    0
301    0
302    0
Name: 199208, dtype: object
300    0
301    0
302    0
Name: 199209, dtype: object
300    0
301    0
302    0
Name: 199210, dtype: object
300    0
301    0
302    0
Name: 199211, dtype: object
300    0
301    0
302    0
Name: 199212, dtype: object
300    0
301    0
302    0
Name: 199213, dtype: object
encouragement found in memory
300         1.0
301    0.318182
302         0.0
Name: 199214, dtype: object
300    0
301    0
302    0
Name: 199215, dtype: object
300    0
301    0
302    0
Name: 199216, dtype: object
300    0
301    0
302    0
Name: 199217, dtype: object
300    0
301    0
302    0
Name: 199218, dtype: object
300    0
301    0
302    0
Name: 199219, dtype: object
300    0
301    0
302    0
Name: 199220, dtype: object
300    0
301    0
302    0
Name: 199221, dtype: object
300    0
301    0
302    0
Name: 199222, dtype: object
300    0
301    0
302    0
Name: 199223, dtype: object
300    0
301    0
302    0
Name: 199224, dtype: object
300    0
301    0
302    0
Name: 199225, dtype: object
300    0
301    0
302    0
Name: 199226, dtype: object
300    0
301    0
302    0
Name: 199227, dtype: object
300    0
301    0
302    0
Name: 199228, dtype: object
300    0
301    0
302    0
Name: 199229, dtype: object
300    0
301    0
302    0
Name: 199230, dtype: object
300    0
301    0
302    0
Name: 199231, dtype: object
300    0
301    0
302    0
Name: 199232, dtype: object
300    0
301    0
302    0
Name: 199233, dtype: object
300    0
301    0
302    0
Name: 199234, dtype: object
300    0
301    0
302    0
Name: 199235, dtype: object
300    0
301    0
302    0
Name: 199236, dtype: object
300    0
301    0
302    0
Name: 199237, dtype: object
300    0
301    0
302    0
Name: 199238, dtype: object
300    0
301    0
302    0
Name: 199239, dtype: object
300    0
301    0
302    0
Name: 199240, dtype: object
300    0
301    0
302    0
Name: 199241, dtype: object
300    0
301    0
302    0
Name: 199242, dtype: object
300    0
301    0
302    0
Name: 199243, dtype: object
300    0
301    0
302    0
Name: 199244, dtype: object
300    0
301    0
302    0
Name: 199245, dtype: object
300    0
301    0
302    0
Name: 199246, dtype: object
300    0
301    0
302    0
Name: 199247, dtype: object
300    0
301    0
302    0
Name: 199248, dtype: object
300    0
301    0
302    0
Name: 199249, dtype: object
300    0
301    0
302    0
Name: 199250, dtype: object
300    0
301    0
302    0
Name: 199251, dtype: object
300    0
301    0
302    0
Name: 199252, dtype: object
300    0
301    0
302    0
Name: 199253, dtype: object
300    0
301    0
302    0
Name: 199254, dtype: object
300    0
301    0
302    0
Name: 199255, dtype: object
300    0
301    0
302    0
Name: 199256, dtype: object
300    0
301    0
302    0
Name: 199257, dtype: object
wink found in memory
300         1.0
301     0.77193
302    0.572973
Name: 199258, dtype: object
300    0
301    0
302    0
Name: 199259, dtype: object
300    0
301    0
302    0
Name: 199260, dtype: object
300    0
301    0
302    0
Name: 199261, dtype: object
300    0
301    0
302    0
Name: 199262, dtype: object
300    0
301    0
302    0
Name: 199263, dtype: object
300    0
301    0
302    0
Name: 199264, dtype: object
300    0
301    0
302    0
Name: 199265, dtype: object
300    0
301    0
302    0
Name: 199266, dtype: object
300    0
301    0
302    0
Name: 199267, dtype: object
300    0
301    0
302    0
Name: 199268, dtype: object
300    0
301    0
302    0
Name: 199269, dtype: object
mellow found in memory
300         1.0
301    0.949045
302    0.033333
Name: 199270, dtype: object
300    0
301    0
302    0
Name: 199271, dtype: object
300    0
301    0
302    0
Name: 199272, dtype: object
300    0
301    0
302    0
Name: 199273, dtype: object
300    0
301    0
302    0
Name: 199274, dtype: object
300    0
301    0
302    0
Name: 199275, dtype: object
300    0
301    0
302    0
Name: 199276, dtype: object
300    0
301    0
302    0
Name: 199277, dtype: object
300    0
301    0
302    0
Name: 199278, dtype: object
300    0
301    0
302    0
Name: 199279, dtype: object
300    0
301    0
302    0
Name: 199280, dtype: object
300    0
301    0
302    0
Name: 199281, dtype: object
300    0
301    0
302    0
Name: 199282, dtype: object
300    0
301    0
302    0
Name: 199283, dtype: object
300    0
301    0
302    0
Name: 199284, dtype: object
300    0
301    0
302    0
Name: 199285, dtype: object
300    0
301    0
302    0
Name: 199286, dtype: object
300    0
301    0
302    0
Name: 199287, dtype: object
300    0
301    0
302    0
Name: 199288, dtype: object
300    0
301    0
302    0
Name: 199289, dtype: object
300    0
301    0
302    0
Name: 199290, dtype: object
300    0
301    0
302    0
Name: 199291, dtype: object
300    0
301    0
302    0
Name: 199292, dtype: object
300    0
301    0
302    0
Name: 199293, dtype: object
300    0
301    0
302    0
Name: 199294, dtype: object
300    0
301    0
302    0
Name: 199295, dtype: object
tongue found in memory
300         1.0
301       0.385
302    0.589474
Name: 199296, dtype: object
300    0
301    0
302    0
Name: 199297, dtype: object
300    0
301    0
302    0
Name: 199298, dtype: object
300    0
301    0
302    0
Name: 199299, dtype: object
tongue found in memory
300         1.0
301    0.859649
302    0.589474
Name: 199300, dtype: object
unsure found in memory
300         1.0
301    0.930636
302    0.578947
Name: 199301, dtype: object
300    0
301    0
302    0
Name: 199302, dtype: object
300    0
301    0
302    0
Name: 199303, dtype: object
300    0
301    0
302    0
Name: 199304, dtype: object
300    0
301    0
302    0
Name: 199305, dtype: object
300    0
301    0
302    0
Name: 199306, dtype: object
300    0
301    0
302    0
Name: 199307, dtype: object
300    0
301    0
302    0
Name: 199308, dtype: object
300    0
301    0
302    0
Name: 199309, dtype: object
300    0
301    0
302    0
Name: 199310, dtype: object
300    0
301    0
302    0
Name: 199311, dtype: object
300    0
301    0
302    0
Name: 199312, dtype: object
300    0
301    0
302    0
Name: 199313, dtype: object
300    0
301    0
302    0
Name: 199314, dtype: object
300    0
301    0
302    0
Name: 199315, dtype: object
300    0
301    0
302    0
Name: 199316, dtype: object
300    0
301    0
302    0
Name: 199317, dtype: object
300    0
301    0
302    0
Name: 199318, dtype: object
300    0
301    0
302    0
Name: 199319, dtype: object
300    0
301    0
302    0
Name: 199320, dtype: object
300    0
301    0
302    0
Name: 199321, dtype: object
300    0
301    0
302    0
Name: 199322, dtype: object
300    0
301    0
302    0
Name: 199323, dtype: object
300    0
301    0
302    0
Name: 199324, dtype: object
300    0
301    0
302    0
Name: 199325, dtype: object
300    0
301    0
302    0
Name: 199326, dtype: object
300    0
301    0
302    0
Name: 199327, dtype: object
300    0
301    0
302    0
Name: 199328, dtype: object
300    0
301    0
302    0
Name: 199329, dtype: object
tongue found in memory
300         1.0
301         0.5
302    0.589474
Name: 199330, dtype: object
300    0
301    0
302    0
Name: 199331, dtype: object
300    0
301    0
302    0
Name: 199332, dtype: object
300    0
301    0
302    0
Name: 199333, dtype: object
300    0
301    0
302    0
Name: 199334, dtype: object
300    0
301    0
302    0
Name: 199335, dtype: object
300    0
301    0
302    0
Name: 199336, dtype: object
300    0
301    0
302    0
Name: 199337, dtype: object
300    0
301    0
302    0
Name: 199338, dtype: object
300    0
301    0
302    0
Name: 199339, dtype: object
300    0
301    0
302    0
Name: 199340, dtype: object
300    0
301    0
302    0
Name: 199341, dtype: object
wink found in memory
300         1.0
301     0.87234
302    0.572973
Name: 199342, dtype: object
300    0
301    0
302    0
Name: 199343, dtype: object
300    0
301    0
302    0
Name: 199344, dtype: object
300    0
301    0
302    0
Name: 199345, dtype: object
300    0
301    0
302    0
Name: 199346, dtype: object
300    0
301    0
302    0
Name: 199347, dtype: object
300    0
301    0
302    0
Name: 199348, dtype: object
300    0
301    0
302    0
Name: 199349, dtype: object
300    0
301    0
302    0
Name: 199350, dtype: object
300    0
301    0
302    0
Name: 199351, dtype: object
300    0
301    0
302    0
Name: 199352, dtype: object
300    0
301    0
302    0
Name: 199353, dtype: object
300    0
301    0
302    0
Name: 199354, dtype: object
300    0
301    0
302    0
Name: 199355, dtype: object
300    0
301    0
302    0
Name: 199356, dtype: object
300    0
301    0
302    0
Name: 199357, dtype: object
300    0
301    0
302    0
Name: 199358, dtype: object
rolldeyes found in memory
300         1.0
301    0.944444
302         0.0
Name: 199359, dtype: object
300    0
301    0
302    0
Name: 199360, dtype: object
300    0
301    0
302    0
Name: 199361, dtype: object
300    0
301    0
302    0
Name: 199362, dtype: object
300    0
301    0
302    0
Name: 199363, dtype: object
300    0
301    0
302    0
Name: 199364, dtype: object
300    0
301    0
302    0
Name: 199365, dtype: object
300    0
301    0
302    0
Name: 199366, dtype: object
300    0
301    0

In [16]:
len(data)

200255

In [18]:
data[0]

['type', 'text', 'word_num', 'label']

In [21]:
df_data = pd.DataFrame(data[1:], columns=data[0])

In [22]:
df_data

        type                                               text word_num label
0       ENFJ  I went through a break up some months ago. We ...       38     0
1       ENFJ                            ENFJ Puns so many puns.        5     0
2       ENFJ  Well I personally don't go that much for attra...       40     0
3       ENFJ  Sorry, not an INFP but I'm really into post-ro...       24     0
4       ENFJ                                         Welcome!!!        1     0
...      ...                                                ...      ...   ...
200249  ISTP  I definitely drive manual cars more aggressive...       35    15
200250  ISTP  My name is doudeman (dudeman). I found out abo...       36    15
200251  ISTP  Well is there anyone out there that would work...       40    15
200252  ISTP  Stop masturbating sure is one unspoken thing t...       36    15
200253  ISTP     The yin and the yang man the yin and the yang.       11    15

[200254 rows x 4 columns]

In [23]:
emoji_feature

       300 301 302
0        0   0   0
1        0   0   0
2        0   0   0
3        0   0   0
4        0   0   0
...     ..  ..  ..
200249   0   0   0
200250   0   0   0
200251   0   0   0
200252   0   0   0
200253   0   0   0

[200254 rows x 3 columns]

In [25]:
processed = pd.concat([df_data, emoji_feature], axis=1)
processed

,type,text,word_num,label,300,301,302
0,ENFJ,I went through a break up some months ago. We ...,38,0,0,0,0
1,ENFJ,ENFJ Puns so many puns.,5,0,0,0,0
2,ENFJ,Well I personally don't go that much for attra...,40,0,0,0,0
3,ENFJ,"Sorry, not an INFP but I'm really into post-ro...",24,0,0,0,0
4,ENFJ,Welcome!!!,1,0,0,0,0
...,...,...,...,...,...,...,...
200249,ISTP,I definitely drive manual cars more aggressive...,35,15,0,0,0
200250,ISTP,My name is doudeman (dudeman). I found out abo...,36,15,0,0,0
200251,ISTP,Well is there anyone out there that would work...,40,15,0,0,0
200252,ISTP,Stop masturbating sure is one unspoken thing t...,36,15,0,0,0
200253,ISTP,The yin and the yang man the yin and the yang.,11,15,0,0,0

In [26]:
processed.to_csv(datapath+"emoji_detected.csv", index = False)

In [15]:
emoji_feature.to_csv(datapath+'SVM_Binary_Labeled/16class_SVM.csv', index=False)

In [ ]:
results.to_csv(datapath+'SVM_data/emojidict.csv', index=False)

AttributeError: ignored